streamlit
transformers
torch
sentence-transformers
pandas
bs4
langchain
langchain-community
langchain-huggingface
langchain-google-genai
google-generativeai
langchain-chroma
chromadb==0.4.24
requests
python-dotenv
rank-bm25
numpy